.title {
  text-align: center;
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  margin-left: 20px;
}

.main_content {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.linha_pokemon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
  cursor: pointer;
}

.linha_pokemon span {
  font-family: 'Russo One', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
}

.linha_pokemon .icone {
  width: 26px;
  cursor: pointer;
}
